.form{
    padding-top: 2%;
    padding-bottom: 8%;
    background-color: rgb(142, 158, 209);
    height: 20%;
    width: 25%;
    text-align: center;
    margin-left: 34%;
    border-radius: 6px;
}
.form input{
    text-align: center;
    border: none;
    height: 25%;
    width:80%
}
.form button{
    border:none;
    background-color: rgb(97, 105, 223);
    border-radius: 4px;
    color:cornsilk;
    height: 25%;
    width: 80%;
}
.form button:hover{
    background-color: rgb(86, 90, 139);
}
.form h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.tbl{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(142, 158, 209);
    height: auto;
    width: 40%;
    text-align: center;
    margin-left: 28%;
    border-radius: 6px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(240, 240, 240);
}

.tbl td{
    font-weight: 500;
    color:rgb(39, 40, 41);
}

a{
    text-decoration: none;
    color: rgb(39, 40, 41);
}
.btnv{
    border:none;
    background-color: rgb(97, 105, 223);
    border-radius: 4px;
    color:cornsilk;
    height: 5%;
    margin-left: 40%;
    width: 15%;
}
.btnv:hover{
    background-color: rgb(86, 90, 139);
}